on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch: # Enables on-demand/manual triggering
jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - run: |
          curl -s 'https://api.github.com/orgs/aws-cloudformation/repos?type=public&per_page=100&sort=full_name' | jq '.[].html_url' | grep 'aws-cloudformation-resource-provider' | xargs -n1 git submodule add
          rm aws-cloudformation-resource-providers-awsutilities-commandrunner
          rm aws-cloudformation-resource-providers-*/sample-templates # globalaccelerator also Kotlin
          pip install cloudformation-cli cloudformation-cli-java-plugin --upgrade
          export AWS_DEFAULT_REGION=us-east-1
          export AWS_REGION=us-east-1
          subdir() { for d in *; do (cd "$d" && "$@"); done }
          subdir subdir mvn clean verify --no-transfer-progress
